In [1]:
import pandas as pd
import re

In [2]:
#LECTURA EXCEL PUBLICACIONES
posts_analisis=pd.read_csv("https://raw.githubusercontent.com/jmcs1983/TFM-Sentimiento_COVID/main/Publicaciones_Analizadas.csv",sep=';')

In [3]:
posts_analisis

         FECHA  IDENTIFICACION  ... COMENTARIOS                    ARCHIVO
0   20/06/2020               1  ...      2000.0   20200620-SinProcesar.csv
1   25/08/2020               2  ...       620.0   20200825-SinProcesar.csv
2   28/08/2020               3  ...      4500.0   20200828-SinProcesar.csv
3   17/09/2020               4  ...      2900.0   20200917-SinProcesar.csv
4   20/10/2020               5  ...       639.0   20201020-SinProcesar.csv
..         ...             ...  ...         ...                        ...
75  19/07/2021              76  ...       441.0  20210719b-SinProcesar.csv
76  19/07/2021              77  ...      2600.0  20210719c-SinProcesar.csv
77  22/07/2021              78  ...      2400.0   20210722-SinProcesar.csv
78  26/07/2021              79  ...      2500.0   20210726-SinProcesar.csv
79  09/08/2021              80  ...      1600.0   20210809-SinProcesar.csv

[80 rows x 6 columns]

In [4]:
#LECTURA DE TODOS LOS CSV CON DATOS Y ALMACENADO EN SIN_ANALIZAR
ruta1="https://raw.githubusercontent.com/jmcs1983/TFM-Sentimiento_COVID/main/DATOS_PREVIOS/"
sin_analizar=pd.DataFrame(columns=['comentario','id_publicacion','fecha_comentario','caracteres'])
pos=0
for i in range(len(posts_analisis.index)):
  ruta2=posts_analisis.loc[i,'ARCHIVO']
  ruta=ruta1+ruta2
  post=pd.read_csv(ruta,sep=';')
  for j in range(len(post.index)):
    if post.loc[j,'object_type'] == "data":
      sin_analizar.loc[pos,'id_publicacion']=posts_analisis.loc[i,'IDENTIFICACION']
      sin_analizar.loc[pos,'comentario'] = post.loc[j,'message']
      sin_analizar.loc[pos,'fecha_comentario'] = post.loc[j,'created_time']
      pos=pos+1

In [5]:
sin_analizar

                                               comentario  ... caracteres
0                                                     NaN  ...        NaN
1       Genial,hay que estar bien posicionado para rec...  ...        NaN
2                                                       üëè  ...        NaN
3       Creo que es bastante tarde para gastar dinero ...  ...        NaN
4                                                     NaN  ...        NaN
...                                                   ...  ...        ...
111812  jajajajajajaja 60% vamoooos reba√±o!!!!!! beeee...  ...        NaN
111813                       Cristina Ponsoda Tornal ü§ëü§ëü§ëü§ë  ...        NaN
111814                Laura Aguilar  ¬°As√≠ es, guapisima!   ...        NaN
111815  Y si Galicia mejora sus fallos en la app del S...  ...        NaN
111816  SRA Ministra de Sanidad .... DEN FACILIDADES n...  ...        NaN

[111817 rows x 4 columns]

In [ ]:
#PARA OBTENER LAS FECHAS EN FORMATO CORRECTO
from datetime import datetime
for i in range(len(sin_analizar.index)):
  sin_analizar.loc[i,'fecha_comentario']=datetime.strptime(sin_analizar.loc[i,'fecha_comentario'][0:10], '%Y-%m-%d').strftime('%Y-%m-%d')

In [ ]:
sin_analizar['fecha_comentario']=pd.to_datetime(sin_analizar['fecha_comentario'])

In [ ]:
sin_analizar

                                               comentario  ... caracteres
0                                                     NaN  ...        NaN
1       Genial,hay que estar bien posicionado para rec...  ...        NaN
2                                                       üëè  ...        NaN
3       Creo que es bastante tarde para gastar dinero ...  ...        NaN
4                                                     NaN  ...        NaN
...                                                   ...  ...        ...
111812  jajajajajajaja 60% vamoooos reba√±o!!!!!! beeee...  ...        NaN
111813                       Cristina Ponsoda Tornal ü§ëü§ëü§ëü§ë  ...        NaN
111814                Laura Aguilar  ¬°As√≠ es, guapisima!   ...        NaN
111815  Y si Galicia mejora sus fallos en la app del S...  ...        NaN
111816  SRA Ministra de Sanidad .... DEN FACILIDADES n...  ...        NaN

[111817 rows x 4 columns]

In [ ]:
#PROCESADO DE LOS COMENTARIOS PARA ELIMINAR: EMOJIS, URLs, HASHTAGS, MENCIONES Y ESPACIOS EN BLANCO
emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               u"\U00002500-\U00002BEF"  # chinese char
                               u"\U00002702-\U000027B0"
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               u"\U0001f926-\U0001f937"
                               u"\U00010000-\U0010ffff"
                               u"\u2640-\u2642"
                               u"\u2600-\u2B55"
                               u"\u200d"
                               u"\u23cf"
                               u"\u23e9"
                               u"\u231a"
                               u"\ufe0f"  # dingbats
                               u"\u3030"
                               "]+", flags=re.UNICODE)


sin_analizar['comentario']=sin_analizar['comentario'].astype(str)
for i in range(len(sin_analizar.index)):
  sin_analizar.loc[i,'comentario']=emoji_pattern.sub(r'', sin_analizar.loc[i,'comentario']) #EMOJIS
  sin_analizar.loc[i,'comentario']=re.sub("http*\S+", " ", sin_analizar.loc[i,'comentario']) #URLS
  sin_analizar.loc[i,'comentario']=re.sub("@\S+", " ", sin_analizar.loc[i,'comentario']) #MENTIONS
  sin_analizar.loc[i,'comentario']=re.sub("#\S+", " ", sin_analizar.loc[i,'comentario']) #HASTAGS
  sin_analizar.loc[i,'comentario']=re.sub('\s{2,}', " ", sin_analizar.loc[i,'comentario']) #ESPACIOS EN BLANCO INTERNOS
  sin_analizar.loc[i,'comentario']=sin_analizar.loc[i,'comentario'].strip()

In [ ]:
sin_analizar

                                               comentario  ... caracteres
0                                                     nan  ...        NaN
1       Genial,hay que estar bien posicionado para rec...  ...        NaN
2                                                          ...        NaN
3       Creo que es bastante tarde para gastar dinero ...  ...        NaN
4                                                     nan  ...        NaN
...                                                   ...  ...        ...
110298                                                     ...        NaN
110299  Jose A. Garc√≠a Camacho Si, se pusieron los cul...  ...        NaN
110300  Claudia Poenar Oye porque no denuncias a la EM...  ...        NaN
110301  Capella SF habr√° denuncias! de hecho ya hay de...  ...        NaN
110302  Claudia Poenar Habr√°? Pero si hay tantos infor...  ...        NaN

[110303 rows x 4 columns]

In [ ]:
#CALCULO DEL NUMERO DE LETRAS DE CADA COMENTARIO
for i in range(len(sin_analizar.index)):
  texto=sin_analizar.loc[i,'comentario']
  letras=0
  noletras=0
  for j in texto:
    if j.isalpha():
      letras=letras+1;
    else:
      noletras=noletras+1;
  sin_analizar.loc[i,'caracteres']=letras

In [ ]:
sin_analizar

                                               comentario  ... caracteres
0                                                     nan  ...          3
1       Genial,hay que estar bien posicionado para rec...  ...         76
2                                                          ...          0
3       Creo que es bastante tarde para gastar dinero ...  ...         44
4                                                     nan  ...          3
...                                                   ...  ...        ...
110298                                                     ...          0
110299  Jose A. Garc√≠a Camacho Si, se pusieron los cul...  ...         70
110300  Claudia Poenar Oye porque no denuncias a la EM...  ...         84
110301  Capella SF habr√° denuncias! de hecho ya hay de...  ...        131
110302  Claudia Poenar Habr√°? Pero si hay tantos infor...  ...        150

[110303 rows x 4 columns]

In [ ]:
#TOTAL COMENTARIOS POR MES SIN COMPROBAR LONGITUD DE CARACTERES
sin_analizar['comentario'].groupby([sin_analizar['fecha_comentario'].dt.year.rename('a√±o'), sin_analizar['fecha_comentario'].dt.month.rename('mes')]).agg({'count'})

          count
a√±o  mes
2020 6     1992
     7       20
     8     4674
     9     3024
     10     610
     11    2951
     12   16295
2021 1     7469
     2     4830
     3     9713
     4    12255
     5    16902
     6    10934
     7    18625
     8        9

In [ ]:
sin_analizar

                                              comentario  ... caracteres
0                                                    nan  ...          3
1                                                         ...          0
2                                                    nan  ...          3
3      ‚Ñπ Que todos los m√©dicos, personal sanitario, c...  ...        268
4                                                    nan  ...          3
...                                                  ...  ...        ...
94381                                                     ...          0
94382  Jose A. Garc√≠a Camacho Si, se pusieron los cul...  ...         70
94383  Claudia Poenar Oye porque no denuncias a la EM...  ...         84
94384  Capella SF habr√° denuncias! de hecho ya hay de...  ...        131
94385  Claudia Poenar Habr√°? Pero si hay tantos infor...  ...        150

[94386 rows x 4 columns]

In [ ]:
#PARA CONSTRUIR DATAFRAMES DE MAYORES DE 100, MAYORES DE 75 Y MAYORES DE 50
sin_analizar['>=100'] = sin_analizar.apply(lambda x: True if x[3] > 99 else False , axis=1)
sin_analizar['>=75'] = sin_analizar.apply(lambda x: True if x[3] > 74 else False , axis=1)
sin_analizar['>=50'] = sin_analizar.apply(lambda x: True if x[3] > 49 else False , axis=1)

In [ ]:
sin_analizar

                                              comentario  ...   >=75
0                                                    nan  ...  False
1                                                         ...  False
2                                                    nan  ...  False
3      ‚Ñπ Que todos los m√©dicos, personal sanitario, c...  ...   True
4                                                    nan  ...  False
...                                                  ...  ...    ...
94381                                                     ...  False
94382  Jose A. Garc√≠a Camacho Si, se pusieron los cul...  ...  False
94383  Claudia Poenar Oye porque no denuncias a la EM...  ...   True
94384  Capella SF habr√° denuncias! de hecho ya hay de...  ...   True
94385  Claudia Poenar Habr√°? Pero si hay tantos infor...  ...   True

[94386 rows x 7 columns]

In [ ]:
#DATAFRAMES DE COMENTARIOS ANALIZADOS DE 100 O MAS CARACTERES, DE 75 O MAS CARACTERES Y DE 50 O MAS CARACTERES
analizados100 = sin_analizar[sin_analizar['>=100'] == True]
analizados50 = sin_analizar[sin_analizar['>=50'] == True]
analizados75 = sin_analizar[sin_analizar['>=75'] == True]

In [ ]:
analizados100

                                               comentario  ...  >=50
9       Una vacuna sacada en tiempo record, a saber la...  ...  True
12      Jose Howe Y para los que tenemos patolog√≠as pr...  ...  True
16      Puuf , con lo que paso con el otro material me...  ...  True
17      Angeles Martin Carmona si lo veo muy bien, com...  ...  True
21      Jajajajaja no compraron material y los test de...  ...  True
...                                                   ...  ...   ...
110286  Jes√∫s Cascales Reina est√° en fase 3 que es la ...  ...  True
110289  Pues no se quien se las pondr√° a mi me han den...  ...  True
110291  Francisco Rodriguez le recuerdo que eso semill...  ...  True
110301  Capella SF habr√° denuncias! de hecho ya hay de...  ...  True
110302  Claudia Poenar Habr√°? Pero si hay tantos infor...  ...  True

[38698 rows x 7 columns]

In [ ]:
analizados50

                                               comentario  ...  >=50
1       Genial,hay que estar bien posicionado para rec...  ...  True
6       El Excelente Gobierno y el Ministerio de Sanid...  ...  True
8       Mejor esperar, para comprobar su efectividad, ...  ...  True
9       Una vacuna sacada en tiempo record, a saber la...  ...  True
12      Jose Howe Y para los que tenemos patolog√≠as pr...  ...  True
...                                                   ...  ...   ...
110297  Estrella Sazch A√∫n no he visto tus fuentes, ha...  ...  True
110299  Jose A. Garc√≠a Camacho Si, se pusieron los cul...  ...  True
110300  Claudia Poenar Oye porque no denuncias a la EM...  ...  True
110301  Capella SF habr√° denuncias! de hecho ya hay de...  ...  True
110302  Claudia Poenar Habr√°? Pero si hay tantos infor...  ...  True

[68972 rows x 7 columns]

In [ ]:
analizados75

                                               comentario  ...  >=50
1       Genial,hay que estar bien posicionado para rec...  ...  True
6       El Excelente Gobierno y el Ministerio de Sanid...  ...  True
8       Mejor esperar, para comprobar su efectividad, ...  ...  True
9       Una vacuna sacada en tiempo record, a saber la...  ...  True
12      Jose Howe Y para los que tenemos patolog√≠as pr...  ...  True
...                                                   ...  ...   ...
110291  Francisco Rodriguez le recuerdo que eso semill...  ...  True
110297  Estrella Sazch A√∫n no he visto tus fuentes, ha...  ...  True
110300  Claudia Poenar Oye porque no denuncias a la EM...  ...  True
110301  Capella SF habr√° denuncias! de hecho ya hay de...  ...  True
110302  Claudia Poenar Habr√°? Pero si hay tantos infor...  ...  True

[51229 rows x 7 columns]

In [ ]:
#TOTAL COMENTARIOS POR MES DE COMENTARIOS DE 50 O MAS CARACTERES
analizados50['comentario'].groupby([analizados50['fecha_comentario'].dt.year.rename('a√±o'), analizados50['fecha_comentario'].dt.month.rename('mes')]).agg({'count'})

          count
a√±o  mes
2020 6     1282
     7       17
     8     2695
     9     1675
     10     401
     11    1847
     12    9489
2021 1     4546
     2     2927
     3     5798
     4     7758
     5    11110
     6     7223
     7    12197
     8        7

In [ ]:
#TOTAL COMENTARIOS POR MES DE COMENTARIOS DE 75 O MAS CARACTERES
analizados75['comentario'].groupby([analizados75['fecha_comentario'].dt.year.rename('a√±o'), analizados75['fecha_comentario'].dt.month.rename('mes')]).agg({'count'})

          count
a√±o  mes
2020 6      950
     7       16
     8     1933
     9     1211
     10     315
     11    1396
     12    6937
2021 1     3390
     2     2109
     3     4234
     4     5841
     5     8262
     6     5386
     7     9246
     8        3

In [ ]:
#TOTAL COMENTARIOS POR MES DE COMENTARIOS DE 100 O MAS CARACTERES
analizados100['comentario'].groupby([analizados100['fecha_comentario'].dt.year.rename('a√±o'), analizados100['fecha_comentario'].dt.month.rename('mes')]).agg({'count'})

          count
a√±o  mes
2020 6      710
     7       16
     8     1434
     9      901
     10     238
     11    1068
     12    5142
2021 1     2534
     2     1626
     3     3106
     4     4497
     5     6284
     6     4054
     7     7087
     8        1